.show-detail {
  display: flex;
  flex-direction: column;
}

.show-detail-header {
  display: flex;
  justify-content: space-between;
}

.show-detail-button {
  max-width: 300px;
}

.show-detail-all {
  margin-top: 16px;
}

.show-detail-image {
  float: right;
  margin-left: 16px;
}
