.show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px;
}

.show-card {
  max-width: 24%;
  margin-bottom: 8px;
}

.show-card-content {
  margin-top: 8px;
  margin-bottom: 8px;
}

.show-card-button {
  margin-top: auto;
}
