.show-list {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.show-card {
  width: 32%;
  margin-bottom: 16px;
}

.show-card-image {
  align-self: center;
}

.show-card-content {
  margin-top: 8px;
  margin-bottom: 8px;
}

.show-card-button {
  margin-top: auto;
}

@media screen and (max-width: 1000px) {
  .show-card {
    width: 48%;
  }
}

@media screen and (max-width: 680px) {
  .show-card {
    width: 96%;
  }
}
